@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-------Конец обнуления-------------*/
body {
  font-family: Lato;
  max-width: 100%;
}

.button {
  padding-top: 15px;
  cursor: pointer;
  width: 182px;
  height: 47px;
  border: 2px #000 solid;
  text-align: center;
}

.button:hover {
  color: #ada074;
  border: 2px #ada074 solid;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
}

.title::after {
  content: '';
  position: absolute;
  width: 50px;
  background-color: #000;
  height: 1px;
  bottom: 0px;
  left: 50%;
  margin: 0px 0px 0px -25px;
}

.cover {
  width: 100%;
}

.cover__body {
  height: 1081px;
  position: relative;
  margin: 0px auto;
  color: #ffffff;
  border: 5px transparent solid;
  background-image: url("/assets/img/cover/BG-Header.png");
  background-position: center;
  -webkit-background-size: 1931px 1282px;
          background-size: 1931px 1282px;
}

.cover__logo {
  margin: 163px auto;
  display: block;
  max-width: 195px;
  max-height: 123px;
}

.cover__title {
  margin: 242px auto 0px;
  max-width: 754px;
  height: 70px;
  font-size: 34px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.15px;
}

.cover__description {
  margin: 0px auto;
  max-width: 1100px;
  position: relative;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 40px;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 5.43px;
}

.cover__line {
  background-color: #fff;
  width: 105px;
  height: 2px;
  margin: 49px auto;
}

.cover__button {
  margin: 227px auto 0px;
  border: 2px white solid;
}

.cover__arrow-down {
  border: white 1px solid;
  width: 10px;
  height: 10px;
  margin: 75px auto 0px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  cursor: pointer;
}

.cover__arrow-down:hover {
  border: #ada074 2px solid;
  width: 15px;
  height: 15px;
  border-top: transparent;
  border-left: transparent;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.header {
  width: 100%;
  background-color: #fff;
}

.section-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 58px;
  max-width: 823px;
  margin: 0px auto;
}

.section-menu__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  text-align: center;
  padding-top: 22px;
  cursor: pointer;
}

.section-menu__item:hover {
  background-color: #ada074;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.about {
  width: 100%;
}

.about__body {
  max-width: 823px;
  margin: 130px auto;
}

.about__title {
  padding: 0px 0px 30px 0px;
}

.about__description {
  margin: 73px auto 69px;
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
  text-align: center;
}

.about__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.about__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333%;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.item-about__icon {
  margin: 0px auto;
  width: 92px;
  height: 92px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #f1f1f1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-about__title {
  font-size: 22px;
  font-weight: 400;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 41px 0px 35px 0px;
}

.item-about__text {
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
}

.portfolio__body {
  margin: 95px auto;
}

.portfolio__title {
  padding: 0px 0px 30px 0px;
}

.portfolio__section-menu {
  margin: 50px auto 0px;
}

.portfolio__gallery {
  margin-top: 120px;
}

.portfolio__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
}

.portfolio__column {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.portfolio__image {
  margin-bottom: 16px;
  padding: 10px;
  max-width: 100%;
}

.portfolio__image:hover {
  border: 0.5px solid #ada074;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.portfolio__button {
  margin: 64px auto 0px;
}

.partners__body {
  position: relative;
  max-width: 1962px;
  height: 388px;
  margin: 62px auto;
  background: url("/img/partners/BG-Header_copy.png") center;
}

.partners__title {
  margin: 0px auto;
  padding: 100px 0px 0px;
  text-transform: none;
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1.8px;
}

.partners__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 58px;
  max-width: 584px;
  margin: 95px auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  cursor: pointer;
  max-width: 114px;
}

.contact__body {
  position: relative;
  max-width: 1100px;
  margin: 95px auto;
}

.contact__title {
  padding: 0px 0px 30px 0px;
}

.contact__column {
  margin: 50px auto 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact__form {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
}

.contact__form input {
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #000;
}

.contact__name {
  display: inline-block;
  margin: 0px 30px 60px 0px;
}

.contact__email {
  display: inline-block;
}

.contact__button {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 95px;
}

.contact__info {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.contact__text {
  display: inline-block;
  width: 254px;
  line-height: 25.89px;
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
}

.contact__text span {
  display: block;
  padding-top: 30px;
  font-weight: bold;
}

.contact__social {
  display: block;
}

.contact__item-social {
  display: inline-block;
  margin: 30px 20px 30px -10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 10px;
}

.contact__item-social:hover {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ada074;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.contact__contact {
  position: static;
  display: block;
  width: 254px;
  line-height: 25.89px;
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
}

.contact__contact a, .contact__contact a span {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.contact__contact a span:hover {
  color: #ada074;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.footer__body {
  position: relative;
  width: 100%;
  max-height: 274px;
  background-color: #3c3c3c;
  padding-top: 48px;
  padding-bottom: 49px;
}

.footer__logo {
  display: block;
  margin: 0px auto;
  max-width: 122px;
  max-height: 78px;
  margin-bottom: 49px;
}

.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 360px;
  margin: 0px auto;
}

.footer__menu-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 34px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  max-width: 65px;
}

.footer__menu a {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.footer__menu-item:hover {
  color: #ada074;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.footer__rights {
  max-width: 260px;
  margin: 0px auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #6c6c6c;
  font-family: "MyriadPro";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
